extends layout

block content
  link(rel='stylesheet', href='/stylesheets/accueil.css')
  link(rel='stylesheet', href='/stylesheets/glowingText.css')
  link(rel='stylesheet', href='/stylesheets/background.css')
  link(rel='stylesheet', href='/stylesheets/popup.css')



  .mainPara
    .container
      //- img(src="./images/back.jpg").background
      - for (i = 1; i <= 500; i++)
        .circle-container
          .circle
      div(class="gridTitle")
        div(class="radioactive fSign") ☢
        h1(class="glow titre") Un Jour Radieux
        div(class="radioactive sSign") ☢

      div(class="gridMenu")
        a(class='button1' href="#") Accueil
        a(class='button2' href="#") l'abri
        a(class='button3' href="#") Evenements
        a(class='button4' href="#popup1") Reservation      


      div(class="prez")
        p Un jour Radieux vous plongera dans un monde post-apocalyptique.
        p Vous devrez mettre en pratique vos competences:
        ul 
          li Fouille
          li Survie 
          li Cooperation
          li Ecoute

      div(class="contmap")
        div(class="map")
          p(class="doc") NOUS TROUVER
          div(class="gmap")
            iframe(style='border: 0;' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2710.207049454749!2d-1.5729033!3d47.2125309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec0fcda6c4cb%3A0xd620ca38dafa1e9a!2s2+Rue+La+Motte+Picquet%2C+44100+Nantes!5e0!3m2!1sfr!2sfr!4v1423244007186' width='600' height='450' frameborder='0')


  
  .mainPara


    //- Code pour la PopUp de Reservation

    #popup1.overlay
      .popup
        h2 Réservation
        a.close(href='#') &times;
        .content

          form.form-example(action='' method='get')

            //- date
            .form-example
              label(for='date') Date de réservation : 
              input#date(type='date' name='date' required='')

            //- forfait

            .form-example
              label(for='forfait') Choisir un forfait : 
              input#name(type='text' name='forfait' required='')

            //- nombre de joueur

            .form-example
              label(for='nbJoueur') Nombre de participants : 
              input#name(type='number' name='nbJoueur' value="1" required='' min="1" max="8")

            //- nom prenom

            .form-example
              label(for='prenom') Prénom : 
              input#name(type='text' name='prenom' required='')
              label(for='nom') Nom:
              input#name(type='text' name='nom' required='')

            //- email et telephone  

            .form-example
              label(for='email') Email : 
              input#email(type='email' name='email' required='')
              label(for='telephone') Téléphone : 
              input#email(type='tel' name='telephone' required='')

            //- sub

            .form-example
              input(id="sub" type='submit' value='Réserver')
