.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }


.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.popup {
    margin: 10vw auto;
    padding: 20px;
    background: rgb(34, 34, 34);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    /* background-image: ; */
    -webkit-box-shadow: 10px 5px 15px 5px #297C18; 
    box-shadow: 10px 5px 15px 5px #297C18;
  }
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    padding: 0 0 2vw 0;
  }


.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(92, 91, 91);
  }


.popup .close:hover {
    color: #06D85F;
  }


.popup .content {
    max-height: 30%;
    overflow: auto;
    color: rgb(92, 91, 91);
  }

.popup #sub{
    font-size: 1em;
    padding: 0.5vw 2vw 0.5vw 2vw;
    color: rgb(44, 44, 44);
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: dimgray;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding: 0.5vw;
}

label {
    padding-right: 10px;
}
  
@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }